---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
  <Section>
    <div class="text-center">
      <h1 class="text-4xl font-bold">404</h1>
      <p class="text-xl">Page not found</p>
    </div>
  </Section>
</BaseLayout>
