---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}

const classProp = Astro.props.class;

const classes = twMerge("mx-auto max-w-6xl py-12", classProp);
---

<section class={classes}>
  <div class="mx-2">
    <slot />
    <div></div>
  </div>
</section>
