---
import { twMerge } from "tailwind-merge";

interface Props {
	class?: string;
}

const classProp = Astro.props.class;

const classes = twMerge("mx-auto max-w-6xl mt-12", classProp);
---

<section class={classes}>
	<slot />
</section>
