---
import { Icon } from "astro-icon";

export interface Props {
	name: string;
	link: string;
	className?: string;
}

const { name, link, className } = Astro.props;
---

<a href={link}>
	<Icon
		optimise
		class:list={[
			"bg-zinc-600 p-2 mx-2 rounded-2xl hover:bg-zinc-700",
			className,
		]}
		name={name}
		height="3rem"
		width="3rem"
	/>
</a>
